
<div>
    <div class="row m-0 w-100 justify-content-between" style="height: 2.5em;">
        <div class="col-auto m-0 p-0" style="width: 4em; height: inherit;">
            <div class="pt-3" style="text-align: right;">
                {{formatTime(audio.currentPlayPoint)}}
            </div>
        </div>
        <div class="col m-0 p-0" style="height: inherit;">
            <mat-slider class= "w-100" 
                [min]="0" 
                [max]="audio.songDuration" 
                [value] ="audio.currentPlayPoint"
                [disabled] = "audio.currentSongInfo.title === ''"
                (change) = "handleChange($event)"
                (input) = "handleSlide($event)"
            ></mat-slider>
        </div>
        <div class="col-2 m-0 p-0" style="width: 4em; height: inherit;">
            <div class="pt-3">
                {{formatTime(audio.songDuration)}}
            </div>
        </div>
    </div>
    <!-- controls -->
    <div class="row m-0 w-100 justify-content-center align-items-center">
        <div class="col m-0 0ffset-md-3 mx-auto " align= "center">
            <button [ngClass]="{'btn p-0 ps-1 pe-1 m-1 border rounded-pill': true, 'btn-primary': audio.shuffle}" (click)="shuffle()">
                <i class="bi bi-shuffle" style="font-size: 75%;"></i>
            </button>
            <button class="btn p-0 ps-1 pe-1 m-1 border rounded-pill " (click)="playPrev()">
                <i class="bi bi-caret-left-fill" style="font-size: 75%;"></i>
            </button>

            <button *ngIf="audio.isOnPause" class="btn p-0 ps-1 pe-1 m-1 border rounded-pill" (click)= "play()" [disabled] = "audio.currentSongInfo.title === ''">
                <i  class=" bi bi-play-circle" style="font-size: 150%;"></i>
            </button> 
            <button *ngIf="!audio.isOnPause" class="btn p-0 ps-1 pe-1 m-1 border rounded-pill " (click)= "pause()">
                <i  class=" bi bi-pause-circle" style="font-size: 150%;"></i>
            </button>

            <button class="btn p-0 ps-1 pe-1 m-1 border rounded-pill" (click)="playNext()">
                <i class="bi bi-caret-right-fill" style="font-size: 75%;"></i>
            </button>
            <button [ngClass]="{'btn p-0 ps-1 pe-1 m-1 border rounded-pill': true, 'btn-primary': audio.loop}" (click)="loop()">
                <i class="bi bi-arrow-repeat" style="font-size: 75%;"></i>
            </button>
            
        </div>
        
    </div>
</div>
   
    
