<div class="container" style="height: 900px;">
    <div class="mx-auto border" style="width: 50%; min-width: 40em; height: 100%; min-height: 30em;  position: relative;">
        <div class="mt-2 mb-3" style="margin-left: 10%; margin-right: 10%;">
            <ul class="nav nav-tabs" style="position: relative;">
                <li *ngFor="let tab of navTabs" class="nav-item">
                    <a [ngClass]="{'nav-link': true, 'active': activeTabId===tab.id}" (click)= "activeTabId=tab.id">
                        {{tab.name}}
                        <a (click) = "refresh(tab.id)">
                            <i class="bi bi-arrow-repeat"></i>
                        </a>
                    </a>
                </li>
                <div class="input-group mt-1" style="width: 10em; height: 2em; position: absolute; right: 2px;">
                    <input class="form-control m-0 p-0" type="text" placeholder=" search..." [(ngModel)]="searchString" style=" font-size: 90%;">
                    <button class="btn btn-primary m-0 p-0" (click)= "searchSong()">
                        <i class="bi bi-search p-1"></i>
                    </button>
                </div>
                
            </ul>
            
        </div>
        <!-- body -->
        <div class="mx-auto" style="height: 75%; width: 80%; min-width: 16em; overflow-y: auto;">
            <div  *ngIf="activeTabId===1">
                <app-category-board *ngIf="searchList.length !== 0"
                    name ="Search Results"
                    [songList] ="searchList"
                    [playListNames] ="playListsNameInput"
                    [viewOptions]= "{showCancel: true}"
                    (rmView) = deleteCategory($event)
                ></app-category-board>
                <app-category-board 
                    name ="General"
                    [songList] ="songList"
                    [playListNames] ="playListsNameInput"
                ></app-category-board>
                <app-category-board 
                    name ="Favorite"
                    [songList] ="favorites"
                    [playListNames] ="playListsNameInput"
                ></app-category-board>
                <app-category-board 
                    name ="Recent"
                    [songList] ="playHistory"
                    [playListNames] ="playListsNameInput"
                ></app-category-board>
            </div>
            <div *ngIf="activeTabId===3">
                <app-playlist 
                    [playLists]="playlists"
                ></app-playlist>
            </div>
            <!-- <div *ngIf="activeTabId===4">
                <div class="row">
                    <div class="col mb-2">
                        <button class="btn float-end" (click)="playHistory=[]">
                            Clear
                        </button>
                    </div>
                    <hr>
                </div>
                <div>
                    <app-song *ngFor="let song of playHistory" [title] = 'song.title'
                        [singer] = 'song.artist'
                        [album] = 'song.album'
                        [duration] = 'song.duration'
                        [userPref] = 'song.userPref'
                        [playLists] = 'playListsNameInput'
                        (handleFav)= "handleFavorite($event)"
                    ></app-song>
                </div>
            </div> -->
        </div>
        <div class="w-100" style="position: absolute; bottom: 0px;">
            <hr>
            <div style="height: 10px;"></div>
            <app-song-player></app-song-player>
        </div>
    </div>
    
</div>
