<div class ="card m-0 mt-2" style="width: 95%; height: 14em;">
    <div class="card-header p-0 ps-2" style="height: 2.5em;">
        <h2 class="border-bottom-0">
            {{name}}
        </h2>
    </div>
<!--   -->
    <div class="d-flex " style="padding-bottom: 260px; margin-bottom: -260px; overflow-x: hidden;" >
        <app-song *ngFor="let song of songList" [title] = 'song.title'
            [singer] = 'song.artist'
            [album] = 'song.album'
            [duration] = 'song.duration'
            [userPref] = 'song.userPref'
            [playLists] = 'playListNames'
            (handleFav)= "dummy($event)"
            (addToList)= "dummy($event)"
        ></app-song>
    </div>
    
</div>
