<div class="col-4">
    <div **ngFor="let action of actionsOnBar" class="p-1 m-1 ms-0 border rounded-pill">
        <button  type="button" class="btn p-0" (click)="action.onClick()">
            <i [class]="'bi '+ action.bsIcon"></i>
        </button>
    </div>
    
    <div class="dropdown p-1 m-1 ms-0 border rounded-pill">
        <button type="button" class="btn p-0" [id]="action.name +'PlaylistDropDown'" data-bs-toggle = "dropdown">
            <i class="bi bi-music-note-list"></i>
        </button>
        <ul class="dropdown-menu" [attr.aria-labelledby]="action.name +'PlaylistDropDown'">
            <li *ngFor="let action of actionInMenu">
                <a class="dropdown-item" (click)= "action.onClick()">{{action.name}}</a>
            </li>
        </ul>
    </div>
</div>
